extends layout

block content
    .col.s12.m4
        .row
            h4.center Add a new product
            .col.s12
                form(method='POST', enctype='multipart/form-data')
                    .row
                        .input-field.col.s12
                            input(placeholder='product name', name='name', id='name', type='text').validate
                            label(for='name') Product name:
                    .row
                        .input-field.col.s12
                            input(placeholder='price', name='price', id='price')
                            label(for='price')
                    .row
                        .input-field.col-sm-12
                            input(name='image', type='file')#url_text
                            label Image here
                    .row
                        .thumbnails

                    .row
                        .col.m6.offset-m3.offset-s2.s8.center
                            button#upload_widget_opener.btn.waves-effect.waves-light(type='submit') Upload with widget
                                i.material-icons.right send
                            button.btn.waves-effect.waves-light(type='submit') SUBMIT
                                i.material-icons.right send

    script(src='//widget.cloudinary.com/global/all.js', type='text/javascript')
    script.
        document.getElementById("upload_widget_opener").addEventListener("click", function () {
            cloudinary.openUploadWidget({cloud_name: 'CLOUD_NAME', upload_preset: 'UPLAOD_PRESET'},
                    function (error, result) {
                        console.log(error, result)
                        // Push URL into text input
                        document.getElementById('url_text').value = result[0].url;
                    });
        }, false);

        // Configure Cloudinary
        $.cloudinary.config({cloud_name: 'CLOUD_NAME', api_key: 'KEY'});
        // Perform unsigned upload
        $('.upload_field').unsigned_cloudinary_upload("UPLOAD_PRESET",
                {cloud_name: 'CLOUD_NAME'},
                {multiple: true}
        )
        .bind('cloudinarydone', function (e, data) {
            // Populate thumbnails when upload is finished
            $('.thumbnails').append($.cloudinary.image(data.result.public_id,
                    {
                        format: 'jpg', width: 150, height: 100,
                        crop: 'thumb', gravity: 'face', effect: 'saturation:50'
                    }))
        })
        .bind('cloudinaryprogress', function (e, data) {
            // Update progress bar with upload progress
            $('.progress').progress({
                percent: Math.round((data.loaded * 100.0) / data.total)
            });

    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/jquery.ui.widget.js', type='text/javascript')
    script(src='/javascripts/jquery.iframe-transport.js', type='text/javascript')
    script(src='/javascripts/jquery.fileupload.js', type='text/javascript')
    script(src='/javascripts/jquery.cloudinary.js', type='text/javascript')
    script.
        $(document).ready(function(){
            cloudinary.cloudinary_js_config();
            cloudinary.uploader.image_upload_tag('image_id', {callback: cloudinary_cors});
        });