footer.page-footer
    .container
        .row
            .col.m6.s12
                h5.white-text Delux Clothing
                p Your number one clothing company
            .col.m4.offset-s12.s12
                h5.white-text Follow us on:
                ul
                    li
                        a.grey-text.text-lighten-3(href='http://www.facebook.com') Facebook
                    li
                        a.grey-text.text-lighten-3(href='http://www.youtube.com') Youtube
                    li
                        a.grey-text.text-lighten-3(href='http://www.twitter.com') Twitter
        .footer-copyright
            .container
                span &copy; franckstifler
                a.grey-text.right(href='http://www.webcomsrvces.com') WEB COM SERVICES
script(src='/javascripts/jquery-3.1.1.min.js')
script(src='/javascripts/materialize.min.js')
script(src='/javascripts/main.js')